<header class="hero bg-base-200 -h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1
        class="text-6xl font-bold text-transparent bg-clip-text bg-linear-to-r from-primary to-accent"
      >
        Conheça a Melia
      </h1>
      <p class="py-6">
        Sua assistente de IA que recebe, classifica e responde emails
        automaticamente. Deixe a Melia cuidar da sua caixa de entrada enquanto
        você foca no que importa.
      </p>
      <button class="btn btn-primary">
        Pular para decifrar email ou codigo
      </button>
    </div>
  </div>
</header>
